<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>檔案上傳和下載</title>
    </head>
    <body>
        <form th:if="${uploaded == false}" th:action="@{/upload/upload_sumit}" method="post" enctype="multipart/form-data">
            <p>
                <label for="file1">請選擇要上傳的檔案</label>
                <input type="file" di="file1" name="file">
            </p>
            <p>
                <input type="submit" value="上傳">
            </p>
        </form>
        <p th:if="${uploaded == true}">上傳成功</p>
        <form th:if="${uploaded == true}" th:action="@{http://localhost:8080/upload/detect}" method="post">
            <input type="submit" value="偵測">
        </form>
    </body>
</html>