#upload-space {
    display: flex;
    justify-content: center;
}

#upload-space form div {
	text-align: center;
    background-color: aqua;
}

/* 按鈕 */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}